div.container {
    width: 100%;
}

header, footer {
    padding: 1em;
    clear: left;
    text-align: center;
}

nav {
    border: 1px solid rgb(81,165,250);
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    border-top: 1px solid rgb(81,165,250);
    border-bottom: 1px solid rgb(81,165,250);
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}
#map {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
input[type="checkbox"]{
 appearance: none;
 -moz-appearance: none;
 -webkit-appearance: none;
 border: 1px solid rgb(81,165,250);
 width: 15px;
 height: 15px;
 border-radius: 2px;
 margin: 0 5px 0 0;
}
 
input[type="checkbox"]#cbox1:checked{
 background: solid blue;
}
</pre>
<pre>input[type="checkbox"]#cbox1:focus{
 outline: none;
}
button{
    float: left;
}