#loginbox {
    margin-top: 30px;
}

#loginbox > div:first-child {        
    padding-bottom: 10px; 
    overflow-y: hidden    
}


#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {    
    background-color: transparent;
    padding-top: 0px;
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(2555,255,255,.3);
}

#logo_WINSIG{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#olvido_contra{
    color:  #1E90FF;
}
#fo-regis{
    color:  #1E90FF;
}
#p-regis{
    color:  #87CEFA;
}
.btn-primary {
    color: #fff;
    background-color: #1E90FF;
    border-color: rgb(81,165,250);
}
.menu_botones{
  text-align: center;
}

#particles-js{
width: 100%;
height: 160%;
background-color: #F8F8FF;
background-position: 50% 50%;
overflow: hidden;
top: 0;                        
bottom: 0;
left: 0;
right: 0;
position: absolute;
z-index: -2;
}
